{% extends "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4"> Feed bins for : {{paddockName}}</legend>
<div>
<form action="{{url_for('bin_add', paddockName = paddockName)}}", method = "POST">
  <input class="btn btn-primary " type="submit" value="Add bin to {{paddockName}}">
</form>
</div>
<p></p>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="db-metadata">
              <a class="mr-2" href="#">Bin Number: </b>{{ post.BinNumber }}</a>
            </div>
            <div>
            <p class="db-content"><b> Last Checked : </b>{{ post.LastChecked }} </p>
            <p class="db-content"><b> Bin contains: </b>{{ post.BinContains }} </p>
            <p class="db-content"><b> Bin level (0 - 1) : </b>{{ post.BinLevel }} </p>
       
            <!-- Button trigger modal -->
            <button type="button" class="btn-grp btn-danger btn-sm" data-toggle="modal" data-target="#deleteModalCenter{{post.BinNumber}}", style ="float: right;">
              Delete
            </button>
            <form action="{{url_for('update_bin', paddockName = post.PaddockName, binNumber = post.BinNumber, lastChecked = post.LastChecked, binContains = post.BinContains, binLevel = post.BinLevel)}}", method = "POST">
                <input class="btn-grp  btn-sm btn-secondary" type="submit" value="Update bin" style ="float: right;" >
            </form>

            <!-- Modal -->
            <div class="modal fade" id="deleteModalCenter{{post.BinNumber}}">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLongTitle">Deleting bin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h3>Are you sure?</h3>
                    <p></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <form action="{{url_for('delete_bin', paddockName = post.PaddockName, binNumber = post.BinNumber)}}" method="post">
                      <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                  </div>
                </div>
              </div>
            </div>
            
            
          </div>
        </article>
     
    {% endfor %}
{% endblock content %}
{%block overview%}
                 <li class="list-group-item list-group-item-light">Total bins : {{countBins}}</li>
                 <li class="list-group-item list-group-item-light"> Average level : {{avgLevel}} </li>
                 <li class="list-group-item list-group-item-light"> Contains Wheat : {{wheatBins}} </li>
                 <li class="list-group-item list-group-item-light">Contains Sorghum : {{sorghumBins}}</li>
                 <li class="list-group-item list-group-item-light">Contains Salt Lick : {{saltBins}}</li>
                  
                  
{% endblock overview %}


