
{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4"> Add Cattle</legend>
                
                <div class="form-group">
                    {{form.sex.label(class="form-control-label") }}

                    {% if form.sex.errors %}
                        {{form.sex(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.sex.errors %}
                                    <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.sex(class="form-control form-control-lg") }}
                    {%endif%}
                    
                </div>

                <div class="form-group">
                    {{form.breed.label(class="form-control-label") }}

                    {% if form.breed.errors %}
                        {{form.breed(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.breed.errors %}
                                    <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.breed(class="form-control form-control-lg") }}
                    {%endif%}
                    
                </div>
                
                <div class="form-group">
                    {{form.dateOfBirth.label(class="form-control-label") }}

                    {% if form.dateOfBirth.errors %}
                        {{form.dateOfBirth(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.dateOfBirth.errors %}
                                    <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.dateOfBirth(class="form-control form-control-lg") }}
                    {%endif%}

                </div>

                <div class="form-group">
                    {{form.weight.label(class="form-control-label") }}

                    {% if form.weight.errors %}
                    {{form.weight(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.weight.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.weight(class="form-control form-control-lg") }}
                {%endif%}

                </div>

                <div class="form-group">
                    {{form.paddockName.label(class="form-control-label") }}

                    {% if form.paddockName.errors %}
                    {{form.paddockName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.paddockName.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.paddockName(class="form-control form-control-lg") }}
                {%endif%}
                </div>

                <div class="form-group">
                    {{form.dateMoved.label(class="form-control-label") }}

                    
                    {% if form.dateMoved.errors %}
                    {{form.dateMoved(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.dateMoved.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.dateMoved(class="form-control form-control-lg") }}
                {%endif%}

                </div>


            </fieldset>

            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
        
    </div>
   
{% endblock content %}