{% extends "layout.html" %}
{% block content %}
<a class="btn btn-primary" href="{{url_for('cattle_add')}}" role="button">Add Cattle</a>
<div>
  <p>

  </p>
</div>
    {% for post in posts %}
        <db class="media content-section">
          <div class="media-body">
            <div class="db-metadata">
              <a class="mr-2"><b>Cattle ID : </b>{{ post.CattleID }}</a>
            </div>
           
            <div>
            <p class="db-content"><b> Sex : </b>{{ post.Sex }} </p>
            <p class="db-content"><b> Breed : </b>{{ post.Breed }} </p>
            <p class="db-content"><b> Date of birth: </b>{{ post.DateOfBirth }} </p>
            <p class="db-content"><b> Weight : </b>{{ post.Weight }} </p>
            <p class="db-content"><b> Paddock name : </b>{{ post.PaddockName }} </p>
            <p class="db-content"><b> Date moved : </b>{{ post.DateMoved }} </p>
           
      
            <!-- Button trigger modal -->
            <button type="button" class="btn-grp btn-danger btn-sm" data-toggle="modal" data-target="#deleteModalCenter{{post.CattleID}}", style ="float: right;">
              Delete
            </button>
            <form action="{{ url_for('update_cattle', ID = post.CattleID, sex = post.Sex, breed = post.Breed, dob = post.DateOfBirth, weight = post.Weight, paddockName = post.PaddockName, dateMoved = post.DateMoved)}}", method = "POST">
              <input class="btn-grp btn-secondary btn-sm" type="submit" value="Update" style ="float: right;">
            </form>

            <!-- Modal -->
            <div class="modal fade" id="deleteModalCenter{{post.CattleID}}">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLongTitle">Deleting cow</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h3>Are you sure?</h3>
                    <p></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <form action="{{ url_for('delete_cattle', cattleID = post.CattleID)}}" method="post">
                      <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                  </div>
                </div>
              </div>
            </div>


            </div>
          </div>
          
        </db>
     
    {% endfor %}
    
{% endblock content %}

{%block overview%}
                  <li class="list-group-item list-group-item-light">Total Cattle : {{count}}</li>
                  <li class="list-group-item list-group-item-light">Average weight : {{avgWeight}}kg </li>
                  <li class="list-group-item list-group-item-light">Males : {{countMale}} </li>
                  <li class="list-group-item list-group-item-light">Average male weight : {{avgMale}} </li>
                  <li class="list-group-item list-group-item-light">Females : {{countFemale}}</li>
                  <li class="list-group-item list-group-item-light">Average female weight : {{avgFemale}}</li>
                  <li class="list-group-item list-group-item-light">Belmont Reds : {{countBelmont}}</li>
                  <li class="list-group-item list-group-item-light">Angus : {{countAngus}} </li>
                  <li class="list-group-item list-group-item-light">Cross : {{countCross}}</li>
                  
{% endblock overview %}


