{% extends "layout.html" %}
{% block content %}

<div>
  <p>
  </p>
</div>
    {% for post in posts %}
        <db class="media content-section">
          <div class="media-body">
            <div class="db-metadata">
              <a class="mr-2"><b>Cattle ID : </b>{{ post.CattleID }}</a>
            </div>
           
            
            <p class="db-content"><b> Sex : </b>{{ post.Sex }} </p>
            <p class="db-content"><b> Breed : </b>{{ post.Breed }} </p>
            <p class="db-content"><b> Date of birth: </b>{{ post.DateOfBirth }} </p>
            <p class="db-content"><b> Weight : </b>{{ post.Weight }} </p>
            <p class="db-content"><b> Paddock name : </b>{{ post.PaddockName }} </p>
            <p class="db-content"><b> Date moved : </b>{{ post.DateMoved }} </p>
            <form action="{{ url_for('update_cattle', ID = post.CattleID, sex = post.Sex, breed = post.Breed, dob = post.DateOfBirth, weight = post.Weight, paddockName = post.PaddockName, dateMoved = post.DateMoved)}}", method = "POST">
              <input class="btn-grp btn-secondary btn-sm" type="submit" value="Update">
            </form>
            <p></p>
            <form action="{{ url_for('delete_cattle', cattleID = post.CattleID)}}", method = "POST">
              <input class="btn-grp btn-danger btn-sm" type="submit" value="Delete">
            </form>
          </div>
        </db>
     
    {% endfor %}
{% endblock content %}



