{% extends "layout.html" %}
{% block content %}
<a class="btn btn-grp btn-primary" href="{{url_for('farm_add')}}" role="button">Add Farm</a>
<div>
  <p>
  </p>
</div>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2"><b>{{ post.FarmName }}</b></a>
            </div>
          
            
            <p class="article-content"><b>Address : </b>{{ post.Address }}</p>
              <div>
                <form action="{{ url_for('farm_stats', farmName = post.FarmName)}}", method = "POST">
                  <input class="btn-grp btn-info btn-sm" type="submit" value="View stats" style ="float: left;">
                </form>
                <form action="{{ url_for('paddock_farm', farmName = post.FarmName)}}", method = "POST">
                  <input class="btn-grp btn-info btn-sm" type="submit" value="View paddocks" style ="float: left;">
                </form>
                <form action="{{ url_for('cattle_farm', farmName = post.FarmName)}}", method = "POST">
                  <input class="btn-grp btn-info btn-sm" type="submit" value="View cattle" style ="float: left;">
                </form>
                <form action="{{ url_for('staff_farm', farmName = post.FarmName)}}", method = "POST">
                  <input class="btn-grp btn-info btn-sm" type="submit" value="View staff" style ="float: left;">
                </form>
                <form action="{{ url_for('vehicle_farm', farmName = post.FarmName)}}", method = "POST">
                  <input class="btn-grp btn-info btn-sm" type="submit" value="View vehicles" style ="float: left;">
                </form>
              </div>

              <div>
              <p>
              <!-- Button trigger modal -->
              <button type="button" class="btn-grp btn-danger btn-sm" data-toggle="modal" data-target="#deleteModalCenter{{post.FarmName}}", style ="float: right;">
                Delete
              </button>
              <form action="{{ url_for('update_farm', updateName = post.FarmName, updateAddress = post.Address)}}", method = "POST">
                <input class="btn-grp btn-secondary btn-sm" type="submit" value="Update" style ="float: right;">
              </form>
              </p>
                  
              
              <!-- Modal -->
              <div class="modal fade" id="deleteModalCenter{{post.FarmName}}">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLongTitle">Deleting farm</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h3>Are you sure?</h3>
                      <p>Deleting a farm will delete all associated paddocks and their feed bins, staff, cattle, and vehicles</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                      <form action="{{ url_for('delete_farm', farmName = post.FarmName)}}" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
                </div> 
                
              </div>


            </article>

          
       
    {% endfor %}
  
  
{% endblock content %}
{%block overview%}
                  <li class="list-group-item list-group-item-light">Total Farms : {{countName}}</li>
              
{% endblock overview %}



