{% extends "layout.html" %}
{% block content %}

    
        <db class="media content-section">
          <div class="media-body">
            <div class="db-metadata">
              <a class="mr-2" href="#">Farm Name : {{ farmName }}</a>
            </div>
            <div>
                <p class="db-content"><b>Total staff : </b>{{ staffNumbers }}</p>
                <p class="db-content"><b>Total vehicles : </b>{{ paddockNumbers }}</p>
                <p class="db-content"><b>Total paddocks : </b>{{ vehicleNumbers }}</p>
                <p class="db-content"><b>Total cattle : </b>{{ cattleNumbers }}</p>
            </div>

            </div>
          
        </db>
       
   
{% endblock content %}
{% block overview%}

{% endblock overview%}


