{% extends "layout.html" %}
{% block content %}
<a class="btn btn-primary" href="{{url_for('paddock_add')}}" role="button">Add Paddock</a>
<p>

</p>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="db-metadata">
              <a class="mr-2"><b>{{ post.PaddockName }}</b></a>
            </div>
            <div>
            <h2><a class="db-title" href="#">{{ post.title }}</a></h2>
            <p class="db-content"><b>Containing farm :</b>{{ post.FarmName}}</p>
            <p class="db-content"><b>Size :           </b>{{ post.Size }} acres </p>
            <p class="db-content"><b>Grass condition :</b>{{ post.GrassCondition }}</p>
           
            
            <form action="{{url_for('feed_bins', paddockName = post.PaddockName)}}", method = "POST">
              <input class="btn-grp btn-info btn-sm" type="submit" value="View feed bins" style ="float: left;">
            </form>
            <form action="{{url_for('cattle_paddock', paddockName = post.PaddockName)}}", method = "POST">
              <input class="btn-grp btn-info btn-sm" type="submit" value="View cattle" style ="float: left;">
            </form>
            
            
            <!-- Button trigger modal -->
            <button type="button" class="btn-grp btn-danger btn-sm" data-toggle="modal" data-target="#deleteModalCenter{{post.PaddockName}}", style ="float: right;">
              Delete
            </button>
          
            <form action="{{ url_for('update_paddock', paddockName = post.PaddockName, size = post.Size, grass = post.GrassCondition, farm = post.FarmName)}}", method = "POST">
              <input class="btn-grp btn-secondary btn-sm" type="submit" value="Update" style ="float: right;">
            </form> 
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="deleteModalCenter{{post.PaddockName}}">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLongTitle">Deleting paddock</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h3>Are you sure?</h3>
                    <p>Deleting a paddock will delete all associated cattle and feed bins</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <form action="{{ url_for('delete_paddock', paddockName = post.PaddockName)}}" method="post">
                      <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                  </div>
                </div>
              </div>
            </div>
              
        </article>
        
    {% endfor %}
{% endblock content %}

{%block overview%}
                  <li class="list-group-item list-group-item-light">Total paddocks : {{countName}}</li>
                  <li class="list-group-item list-group-item-light">Average size : {{avgSize}} </li>
                  <li class="list-group-item list-group-item-light">Dry : {{dry}} </li>
                  <li class="list-group-item list-group-item-light">Green : {{green}}</li>
                  
                  
{% endblock overview %}

