
{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4"> Add Staff</legend>
                
                
                <div class="form-group">
                    {{form.firstName.label(class="form-control-label") }}

                    {% if form.firstName.errors %}
                        {{form.firstName(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.firstName.errors %}
                                    <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.firstName(class="form-control form-control-lg") }}
                    {%endif%}
                    
                </div>

                <div class="form-group">
                    {{form.lastName.label(class="form-control-label") }}

                    {% if form.lastName.errors %}
                        {{form.lastName(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.lastName.errors %}
                                    <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.lastName(class="form-control form-control-lg") }}
                    {%endif%}
                    
                </div>
                
                <div class="form-group">
                    {{form.dateOfBirth.label(class="form-control-label") }}

                    {% if form.dateOfBirth.errors %}
                        {{form.dateOfBirth(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.dateOfBirth.errors %}
                                    <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.dateOfBirth(class="form-control form-control-lg") }}
                    {%endif%}

                </div>

                <div class="form-group">
                    {{form.startDate.label(class="form-control-label") }}

                    {% if form.startDate.errors %}
                    {{form.startDate(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.startDate.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.startDate(class="form-control form-control-lg") }}
                {%endif%}

                </div>

                <div class="form-group">
                    {{form.managerID.label(class="form-control-label") }}

                    {% if form.managerID.errors %}
                    {{form.managerID(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.managerID.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.managerID(class="form-control form-control-lg") }}
                {%endif%}
                </div>

                <div class="form-group">
                    {{form.farmLoc.label(class="form-control-label") }}

                    
                    {% if form.farmLoc.errors %}
                    {{form.farmLoc(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.farmLoc.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.farmLoc(class="form-control form-control-lg") }}
                {%endif%}

                </div>

                <div class="form-group">
                    {{form.contactNumber.label(class="form-control-label") }}

                    
                    {% if form.contactNumber.errors %}
                    {{form.contactNumber(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.contactNumber.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.contactNumber(class="form-control form-control-lg") }}
                {%endif%}

                </div>


            </fieldset>

            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
        
    </div>
   
{% endblock content %}
{% block overview%}

{% endblock overview%}