{% extends "layout.html" %}
{% block content %}
<a class="btn btn-primary" href="{{url_for('staff_add')}}" role="button">Add Staff</a>
<div>
  <p>

  </p>
</div>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2"><b>Staff ID : </b>{{ post.StaffID }}</a>
              
            </div>
            <div>            
            <p class="article-content"><b> First name : </b>{{ post.FirstName }} </p>
            <p class="article-content"><b> Last name : </b>{{ post.LastName }} </p>
            <p class="article-content"><b> Date of birth: </b>{{ post.DateOfBirth }} </p>
            <p class="article-content"><b> Primary farm : </b>{{ post.FarmName}} </p>
            <p class="article-content"><b> Start date : </b>{{ post.StartDate }} </p>
            <p class="article-content"><b> Primary contact number: </b>{{ post.PrimaryContactNumber}} </p>
            {% if post.ManagerID %}
            <p class="article-content"><b> Manager's ID : </b>{{ post.ManagerID }} </p>
            {% set manager = post.ManagerID %}
            {% else%}
            {% set manager = "Self" %}
            {% endif %}
            
            <div class = "btn-grp">
            
            <!-- Button trigger modal -->
            <button type="button" class="btn-grp btn-danger btn-sm" data-toggle="modal" data-target="#deleteModalCenter{{post.StaffID}}", style ="float: right;">
              Delete
            </button>
            <form action="{{ url_for('update_staff', staffID = post.StaffID, first = post.FirstName, last = post.LastName, dob = post.DateOfBirth, farm = post.FarmName, startDate = post.StartDate, number = post.PrimaryContactNumber)}}", method = "POST">
              <input class="btn-grp btn-secondary btn-sm" type="submit" value="Update" style ="float: right;">
            </form>
            <form action="{{ url_for('update_staff_manager', staffID = post.StaffID, managerID = manager)}}", method = "POST">
              <input class="btn-grp btn-secondary btn-sm" type="submit" value="Update Manager" style ="float: right;">
            </form>
            </div>
            

            <!-- Modal -->
            <div class="modal fade" id="deleteModalCenter{{post.StaffID}}">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLongTitle">Deleting staff member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h3>Are you sure?</h3>
                    <p></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <form action="{{ url_for('delete_staff', staffID = post.StaffID)}}" method="post">
                      <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </article>    
      
    {% endfor %}
{% endblock content %}

{%block overview%}
                  <li class="list-group-item list-group-item-light">Total Staff : {{staffCount}}</li>
              
{% endblock overview %}


