{% extends "layout.html" %}
{% block content %}
<a class="btn btn-primary" href={{url_for('buggies_add')}} role="button">Add Buggy</a>
<a class="btn btn-primary" href={{url_for('motorbike_add')}} role="button">Add Motorbike</a>
<a class="btn btn-primary" href={{url_for('quadbike_add')}} role="button">Add Quadbike</a>
<div>
  <p>

  </p>
</div>

    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="db-metadata">
              <a class="mr-2"> <b>Vehicle ID :</b> {{ post.VehicleID }}</a>
            </div>
            <p class="db-content"><b> Model : </b>{{ post.Model }} </p>
            <p class="db-content"><b> Farm location : </b>{{ post.FarmName }} </p>
            <p class="db-content"><b> Purchase date: </b>{{ post.PurchaseDate }} </p>
            <p class="db-content"><b> Vehicle brand: </b>{{ post.Brand }} </p>
           
            {% if post.EngineCC %}

            <p class="db-content"><b> Vehicle type: </b> Motorbike </p>
            <p class="db-content"><b> Engine CC : </b>{{ post.EngineCC }} </p>
            

             <!-- Button trigger modal -->
            <button type="button" class="btn-grp btn-danger btn-sm" data-toggle="modal" data-target="#deleteModalCenter{{post.VehicleID}}", style ="float: right;">
              Delete
            </button>
            <form action="{{ url_for('update_motorbike', vehicleID = post.VehicleID, model = post.Model, farm = post.FarmName, date = post.PurchaseDate, brand = post.Brand, engine = post.EngineCC)}}", method = "POST">
              <input class="btn-grp btn-secondary btn-sm" type="submit" value="Update motorbike" style ="float: right;">
            </form>              
            {% elif post.RollCage %}
            
            <p class="db-content"><b> Vehicle type: </b> Quadbike </p>
            <p class="db-content"><b> Roll Cage : </b> {{post.RollCage}} </p>

            

            <button type="button" class="btn-grp btn-danger btn-sm" data-toggle="modal" data-target="#deleteModalCenter{{post.VehicleID}}", style ="float: right;">
              Delete
            </button>
            <form action="{{ url_for('update_quadbike', vehicleID = post.VehicleID, model = post.Model, farm = post.FarmName, date = post.PurchaseDate, brand = post.Brand, rollCage = post.RollCage)}}", method = "POST">
              <input class="btn-grp btn-secondary btn-sm" type="submit" value="Update quadbike" style ="float: right;">
            </form>         

            {% elif post.NumberOfSeats %}

            <p class="db-content"><b> Vehicle type: </b> Buggy </p>
            <p class="db-content"><b> Number of seats: </b> {{post.NumberOfSeats}}</p>
            
            

            <button type="button" class="btn-grp btn-danger btn-sm" data-toggle="modal" data-target="#deleteModalCenter{{post.VehicleID}}", style ="float: right;">
              Delete
            </button>
            <form action="{{ url_for('update_buggy', vehicleID = post.VehicleID, model = post.Model, farm = post.FarmName, date = post.PurchaseDate, brand = post.Brand, numberOfSeats = post.NumberOfSeats)}}", method = "POST">
              <input class="btn-grp btn-secondary btn-sm" type="submit" value="Update buggy" style ="float: right;">
            </form>  
            {% endif %}
            
          </article>


           <!-- Modal -->
           <div class="modal fade" id="deleteModalCenter{{post.VehicleID}}">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLongTitle">Deleting vehicle</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>Are you sure?</h3>
                  <p></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                  <form action="{{ url_for('delete_vehicle', vehicleID = post.VehicleID)}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </db>    
        </db>
        
    {% endfor %}
{% endblock content %}
{%block overview%}
                  <li class="list-group-item list-group-item-light">Total vehicles : {{countVehicle}}</li>
                  <li class="list-group-item list-group-item-light">Total motorbikes : {{countMotorbikes}} </li>
                  <li class="list-group-item list-group-item-light">Total quadbikes : {{countQuadbikes}} </li>
                  <li class="list-group-item list-group-item-light">Total buggies : {{countBuggies}}</li>
                  
{% endblock overview %}


