{% extends "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4"> Feed bins for : {{paddockName}}</legend>
<div>
  <p>

  </p>
</div>
<div>
<form action="{{url_for('bin_add', paddockName = paddockName)}}", method = "POST">
  <input class="btn btn-primary " type="submit" value="Add bin to {{paddockName}}">
</form>
</div>
<p></p>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Bin Number: </b>{{ post.BinNumber }}</a>
            </div>
           
            <p class="article-content"><b> Last Checked : </b>{{ post.LastChecked }} </p>
            <p class="article-content"><b> Bin contains: </b>{{ post.BinContains }} </p>
            <p class="article-content"><b> Bin level (0 - 1) : </b>{{ post.BinLevel }} </p>
            <form action="{{url_for('delete_bin', paddockName = post.PaddockName, binNumber = post.BinNumber)}}", method = "POST">
                <input class="btn btn-info btn-sm btn-danger" type="submit" value="Delete bin" style ="float: right;" >
            </form>
            <form action="{{url_for('update_bin', paddockName = post.PaddockName, binNumber = post.BinNumber, lastChecked = post.LastChecked, binContains = post.BinContains, binLevel = post.BinLevel)}}", method = "POST">
                <input class="btn btn-info btn-sm btn-secondary" type="submit" value="Update bin" style ="float: right;" >
            </form>
              <p></p>
            
          </div>
        </article>
     
    {% endfor %}
{% endblock content %}



