{% extends "layout.html" %}
{% block content %}
<a class="btn btn-primary" href="{{url_for('cattle_add')}}" role="button">Add Cattle</a>
<div>
  <p>

  </p>
</div>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2"><b>Cattle ID : </b>{{ post.CattleID }}</a>
            </div>
           
            
            <p class="article-content"><b> Sex : </b>{{ post.Sex }} </p>
            <p class="article-content"><b> Breed : </b>{{ post.Breed }} </p>
            <p class="article-content"><b> Date of birth: </b>{{ post.DateOfBirth }} </p>
            <p class="article-content"><b> Weight : </b>{{ post.Weight }} </p>
            <p class="article-content"><b> Paddock name : </b>{{ post.PaddockName }} </p>
            <p class="article-content"><b> Date moved : </b>{{ post.DateMoved }} </p>
            <form action="{{ url_for('update_cattle', ID = post.CattleID, sex = post.Sex, breed = post.Breed, dob = post.DateOfBirth, weight = post.Weight, paddockName = post.PaddockName, dateMoved = post.DateMoved)}}", method = "POST">
              <input class="btn-grp btn-secondary btn-sm" type="submit" value="Update" style ="float: right;">
            </form>
            <p></p>
            <form action="{{ url_for('delete_cattle', cattleID = post.CattleID)}}", method = "POST">
              <input class="btn-grp btn-danger btn-sm" type="submit" value="Delete" style ="float: right;">
            </form>
          </div>
        </article>
     
    {% endfor %}
    
{% endblock content %}

{%block overview%}
                  <li class="list-group-item list-group-item-light">Total Cattle : {{count}}</li>
                  <li class="list-group-item list-group-item-light">Average weight : {{avgWeight}}kg </li>
                  <li class="list-group-item list-group-item-light">Males : {{countMale}} </li>
                  <li class="list-group-item list-group-item-light">Females : {{countFemale}}</li>
                  <li class="list-group-item list-group-item-light">Belmont Reds : {{countBelmont}}</li>
                  <li class="list-group-item list-group-item-light">Angus : {{countAngus}} </li>
                  <li class="list-group-item list-group-item-light">Cross : {{countCross}}</li>
                  
{% endblock overview %}


