{% extends "layout.html" %}
{% block content %}
<form method="get" action="/cattle_add">
  <button type="submit">Add cattle</button>
</form>

<div>
  <p>

  </p>
</div>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Cattle ID : {{ post.CattleID }}</a>
              <form method="get" action="/cattle_add">
                <button type="submit">Add cattle</button>
              </form>
            </div>
            
            <p class="article-content"><b> Sex : </b>{{ post.Sex }} </p>
            <p class="article-content"><b> Breed : </b>{{ post.Breed }} </p>
            <p class="article-content"><b> Date of birth: </b>{{ post.DateOfBirth }} </p>
            <p class="article-content"><b> Weight : </b>{{ post.Weight }} </p>
            <p class="article-content"><b> Paddock name : </b>{{ post.PaddockName }} </p>
            <p class="article-content"><b> Date moved : </b>{{ post.DateMoved }} </p>

           
          </div>
        </article>
    {% endfor %}
{% endblock content %}



