{% extends "layout.html" %}
{% block content %}

    
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Farm Name : {{ farmName }}</a>
            </div>
            <div>
                <p class="article-content"><b>Total staff : </b>{{ staffNumbers }}</p>
                <p class="article-content"><b>Total vehicles : </b>{{ paddockNumbers }}</p>
                <p class="article-content"><b>Total paddocks : </b>{{ vehicleNumbers }}</p>
                <p class="article-content"><b>Total cattle : </b>{{ cattleNumbers }}</p>
            </div>

            </div>
          
        </article>
       
   
{% endblock content %}



