
{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4"> Add Motorbike</legend>
                

                <div class="form-group">
                    {{form.model.label(class="form-control-label") }}

                    {% if form.model.errors %}
                        {{form.model(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.model.errors %}
                                    <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.model(class="form-control form-control-lg") }}
                    {%endif%}
                    
                </div>
                
                <div class="form-group">
                    {{form.brand.label(class="form-control-label") }}

                    {% if form.brand.errors %}
                        {{form.brand(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.brand.errors %}
                                    <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.brand(class="form-control form-control-lg") }}
                    {%endif%}
                    
                </div>

                <div class="form-group">
                    {{form.purchaseDate.label(class="form-control-label") }}

                    {% if form.purchaseDate.errors %}
                        {{form.purchaseDate(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.purchaseDate.errors %}
                                    <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.purchaseDate(class="form-control form-control-lg") }}
                    {%endif%}
                    
                </div>

                <div class="form-group">
                    {{form.farmName.label(class="form-control-label") }}

                    {% if form.farmName.errors %}
                        {{form.farmName(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.farmName.errors %}
                                    <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.farmName(class="form-control form-control-lg") }}
                    {%endif%}
                    
                </div>

                <div class="form-group">
                    {{form.engineCC.label(class="form-control-label") }}

                    {% if form.engineCC.errors %}
                        {{form.engineCC(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.engineCC.errors %}
                                    <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.engineCC(class="form-control form-control-lg") }}
                    {%endif%}
                    
                </div>
                </div>


            </fieldset>

            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
        
    </div>
   
{% endblock content %}