{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.PaddockName }}</a>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content"> Size : {{ post.Size }} acres </p>
            <p class="article-content">Grass condition : {{ post.GrassCondition }}</p>
            <p class="article-content">Containing farm : {{ post.FarmName}}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}



