{% extends "layout.html" %}
{% block content %}
<a class="btn btn-primary" href="{{url_for('paddock_add')}}" role="button">Add Paddock</a>
<p>

</p>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.PaddockName }}</a>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">Containing farm : {{ post.FarmName}}</p>
            <p class="article-content"> Size : {{ post.Size }} acres </p>
            <p class="article-content">Grass condition : {{ post.GrassCondition }}</p>
            
            <div>
            <form action="{{url_for('feed_bins', paddockName = post.PaddockName)}}", method = "POST">
              <input class="btn btn-info btn-sm" type="submit" value="View feed bins" style ="float: left;">
            </form>
            </div>
            <div>
            <form action="{{url_for('bin_add', paddockName = post.PaddockName)}}", method = "POST">
              <input class="btn btn-info btn-sm " type="submit" value="Add bin to paddock" style ="float: left;" >
            </form>
            </div>

            <form action="{{ url_for('update_paddock', paddockName = post.PaddockName, size = post.Size, grass = post.GrassCondition, farm = post.FarmName)}}", method = "POST">
              <input class="btn btn-secondary btn-sm" type="submit" value="Update" style ="float: right;">
            </form>
          
            <form action="{{ url_for('delete_paddock', paddockName = post.PaddockName)}}", method = "POST">
              <input class="btn m-10 btn-danger btn-sm" type="submit" value="Delete" style ="float: right;">
            </form>
            
          </div>
        </article>
    {% endfor %}
{% endblock content %}



