{% extends "layout.html" %}
{% block content %}
<a class="btn btn-primary" href="{{url_for('staff_add')}}" role="button">Add Staff</a>
<div>
  <p>

  </p>
</div>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2"><b>Staff ID : </b>{{ post.StaffID }}</a>
              
            </div>
            <div>            
            <p class="article-content"><b> First name : </b>{{ post.FirstName }} </p>
            <p class="article-content"><b> Last name : </b>{{ post.LastName }} </p>
            <p class="article-content"><b> Date of birth: </b>{{ post.DateOfBirth }} </p>
            <p class="article-content"><b> Primary farm : </b>{{ post.FarmName}} </p>
            <p class="article-content"><b> Start date : </b>{{ post.StartDate }} </p>
            <p class="article-content"><b> Primary contact number: </b>{{ post.PrimaryContactNumber}} </p>
            {% if post.ManagerID %}
            <p class="article-content"><b> Manager's ID : </b>{{ post.ManagerID }} </p>
            {% set manager = post.ManagerID %}
            {% else%}
            {% set manager = "Self" %}
            {% endif %}
            
            <div class = "btn-grp">
            <form action="{{ url_for('delete_staff', staffID = post.StaffID)}}", method = "POST">
              <input class="btn-grp btn-danger btn-sm" type="submit" value="Delete" style ="float: right;">
            </form>

            <form action="{{ url_for('update_staff', staffID = post.StaffID, first = post.FirstName, last = post.LastName, dob = post.DateOfBirth, farm = post.FarmName, startDate = post.StartDate, number = post.PrimaryContactNumber, managerID = manager)}}", method = "POST">
              <input class="btn-grp btn-secondary btn-sm" type="submit" value="Update" style ="float: right;">
            </form>
            </div>
            
          </article>    
      
    {% endfor %}
{% endblock content %}

{%block overview%}
                  <li class="list-group-item list-group-item-light">Total Staff : {{staffCount}}</li>
              
{% endblock overview %}


