{% extends "layout.html" %}
{% block content %}
<a class="btn btn-primary" href={{url_for('buggies_add')}} role="button">Add Buggy</a>
<a class="btn btn-primary" href={{url_for('motorbike_add')}} role="button">Add Motorbike</a>
<a class="btn btn-primary" href={{url_for('quadbike_add')}} role="button">Add Quadbike</a>
<div>
  <p>

  </p>
</div>

    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2"> <b>Vehicle ID :</b> {{ post.VehicleID }}</a>
            </div>
            <p class="article-content"><b> Model : </b>{{ post.Model }} </p>
            <p class="article-content"><b> Farm location : </b>{{ post.FarmName }} </p>
            <p class="article-content"><b> Purchase date: </b>{{ post.PurchaseDate }} </p>
            <p class="article-content"><b> Vehicle brand: </b>{{ post.Brand }} </p>
           
            {% if post.EngineCC %}

            <p class="article-content"><b> Vehicle type: </b> Motorbike </p>
            <p class="article-content"><b> Engine CC : </b>{{ post.EngineCC }} </p>
            <form action="{{ url_for('delete_vehicle', vehicleID = post.VehicleID)}}", method = "POST">
              <input class="btn btn-danger btn-sm" type="submit" value="Delete" style ="float: right;">
            </form> 

            <form action="{{ url_for('update_motorbike', vehicleID = post.VehicleID, model = post.Model, farm = post.FarmName, date = post.PurchaseDate, brand = post.Brand, engine = post.EngineCC)}}", method = "POST">
              <input class="btn btn-secondary btn-sm" type="submit" value="Update motorbike" style ="float: right;">
            </form>              
            {% elif post.RollCage %}
            
            <p class="article-content"><b> Vehicle type: </b> Quadbike </p>
            <p class="article-content"><b> Roll Cage : </b> {{post.RollCage}} </p>

            <form action="{{ url_for('delete_vehicle', vehicleID = post.VehicleID)}}", method = "POST">
              <input class="btn btn-danger btn-sm" type="submit" value="Delete", style ="float: right;">
            </form>

            <form action="{{ url_for('update_quadbike', vehicleID = post.VehicleID, model = post.Model, farm = post.FarmName, date = post.PurchaseDate, brand = post.Brand, rollCage = post.RollCage)}}", method = "POST">
              <input class="btn btn-secondary btn-sm" type="submit" value="Update quadbike" style ="float: right;">
            </form>         

            {% elif post.NumberOfSeats %}

            <p class="article-content"><b> Vehicle type: </b> Buggy </p>
            <p class="article-content"><b> Number of seats: </b> {{post.NumberOfSeats}}</p>
            
            <form action="{{ url_for('delete_vehicle', vehicleID = post.VehicleID)}}", method = "POST">
              <input class="btn btn-danger btn-sm" type="submit" value="Delete" style ="float: right;">
            </form>

            <form action="{{ url_for('update_buggy', vehicleID = post.VehicleID, model = post.Model, farm = post.FarmName, date = post.PurchaseDate, brand = post.Brand, numberOfSeats = post.NumberOfSeats)}}", method = "POST">
              <input class="btn btn-secondary btn-sm" type="submit" value="Update buggy" style ="float: right;">
            </form>  
            {% endif %}
            
          </div>
        </article>
        
    {% endfor %}
{% endblock content %}
{%block overview%}
                  <li class="list-group-item list-group-item-light">Total vehicles : {{countVehicle}}</li>
                  <li class="list-group-item list-group-item-light">Total motorbikes : {{countMotorbikes}} </li>
                  <li class="list-group-item list-group-item-light">Total quadbikes : {{countQuadbikes}} </li>
                  <li class="list-group-item list-group-item-light">Total buggies : {{countBuggies}}</li>
                  
{% endblock overview %}


